{% extends "squelette.html" %}

{% block titre %}Demographic Data{% endblock %}

{% block corps %}


<h3> <b> Demographic data : </b> </h3>

<div class="container">

  <div class="jumbotron">

    <form action="/charger_donnees" method="post" enctype="multipart/form-data" class="needs-validation" novalidate>

      <label for="employees">Employees :</label>
      <input type='file' name='employees' id="employees" class="form-control" required onchange="readFiles(event, 'outputemp')">
      <div class="invalid-feedback">Choose a csv file !</div>



      <br>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#helpEmployees">
        Structure of employees file.
      </button>

      <div id="outputemp"></div>



      <div>

        <div class="modal" id="helpEmployees">
          <div class="modal-dialog">
            <div class="modal-content">

              <!-- Modal Header -->
              <div class="modal-header">
                <h4 class="modal-title">Employees</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>

              <!-- Modal body -->
              <div class="modal-body">

                A CSV file with at least 6 columns separated with a semicolon (;) :
                <ul>
                  <li>id   : an unique identifier of the employee</li>
                  <li>type : active or retired</li>
                  <li>sex  : male or female</li>
                  <li>familyStatus : married, or not married</li>
                  <li>age : age of employee </li>
                  <li>group (optional) : a sub-population. ex : group of employees recruted before 2002, group of directors,...</li>
                </ul>


                <div class="jumbotron">

                  <div> <h2> Example : </h2> </div>

                    <b>id;type;sex;familyStatus;age;group</b> <br>
                    id1;active;male;married;28;3 <br>
                    id2;active;male;married;33;3 <br>
                    id3;active;female;not married;26;4 <br>
                    id4;active;female;not married;22;4 <br>
                    id5;active;male;married;26;3 <br>
                    id6;active;male;married;21;3 <br>
                    id7;active;male;married;20;3 <br>
                    id8;active;male;married;31;3 <br>
                    id9;active;female;not married;26;4 <br>
                    id10;active;male;not married;43;1 <br>

                </div>


              </div>

              <!-- Modal footer -->
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <br>

      <label for="spouses">Spouses :</label>
      <input type='file' name='spouses' class="form-control" id="spouses" required onchange="readFiles(event, 'outputspouses')">
      <div class="invalid-feedback">Choose a csv file !</div>
      <br>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#helpSpouses">
          Structure of spouses file.
        </button>

      <div id="outputspouses"></div>


      <div class="modal" id="helpSpouses">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Spouses</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">


              A CSV file with 6 columns separated with a semicolon (;) :
                <ul>
                  <li>id   : identifier of the employee attached to this spouse</li>
                  <li>rang : rank of this spouse : first spouse (1) , second spouse (2),...</li>
                  <li>sex  : male or female. Sex of this spouse</li>
                  <li>age : age of this spouse </li>
                  <li>type : status of the employee attached to this spouse : active, retired or widow</li>
                  <li>familyStatus : married, or not married. If type is widow then familyStatus is 'not married' otherwise it's 'married'</li>
                </ul>


                <div class="jumbotron">

                  <div> <h2> Example : </h2> </div>


                  <b>id;rang;sex;age;type;familyStatus</b><br>
                  id1;1;female;34;active;married<br>
                  id2;1;female;30;widow;not married<br>
                  id5;1;female;37;active;married<br>
                  id6;1;female;21;retired;married<br>
                  id7;1;female;44;active;married<br>
                  id8;1;female;57;active;married<br>
                  id11;1;male;63;active;married<br>
                  id12;1;female;29;active;married<br>
                  id14;1;female;51;active;married<br>
                  id16;1;female;24;active;married<br>

                </div>



            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>


      <br>
      <br>

      <div class="form-group">
        <label for="children" >Children :</label>
        <input type='file' name='children' class="form-control" id="children" required onchange="readFiles(event, 'outputchild')">
        <div class="invalid-feedback">Choose a csv file !</div>
        <br>
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#helpChildren">
          Structure of children file.
        </button>

      </div>

      <div id="outputchild"></div>


      <div class="modal" id="helpChildren">
        <div class="modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Children</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">

              A CSV file with 6 columns separated with a semicolon (;) :
                <ul>
                  <li>id   : identifier of the employee attached to this child</li>
                  <li>rang : rank of this child : first child (1) , second child (2),...</li>
                  <li>sex  : male or female. Sex of this spouse</li>
                  <li>age : age of this child </li>
                  <li>type : status of the employee attached to this child : active, retired or widow</li>
                  <li>familyStatus : married, or not married.</li>
                </ul>


                <div class="jumbotron">

                  <div> <h2> Example : </h2> </div>


                  <b>id;rang;sex;age;type;familyStatus</b><br>
                  id1;1;female;0;active;not married<br>
                  id2;1;female;0;active;not married<br>
                  id5;1;female;0;retired;not married<br>
                  id6;1;female;0;active;not married<br>
                  id7;1;female;0;active;not married<br>
                  id8;1;female;0;active;not married<br>
                  id11;1;female;0;active;not married<br>
                  id12;1;female;0;active;not married<br>
                  id14;1;female;0;widow;not married<br>

                </div>


            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

      <br>
      <br>

      <button class="btn btn-primary">Load</button>
    </form>

  </div>
</div>


<!-- Validation script -->
<script>

var form = document.querySelector('.needs-validation');
form.addEventListener('submit', function(event) {

  if(form.checkValidity()==false) {
    event.preventDefault();
    event.stopPropagation();
  }
  form.classList.add('was-validated')
})

</script>




<!-- Generation table HTML -->

<script>


function genHtmlTable(data) {
    //Assumes data is a 2D-array, where first row is the header of the generated html table

    console.log(data)

    //number of columns
    var n_cols = data[0].length;

    //number of rows
    var n_rows = data.length;

    var i = 0;
    var j = 0;
    var table = "<table class='table table-hover'><tr>"

    for (i = 0; i < n_cols; i++) {
        table = table + "<th>" + data[0][i] + "</th>";
    }

    table = table + "</tr>"

    if (n_rows > 0) {

        for (i = 1; i < n_rows - 1; i++) {

            table += "<tr>"
            for (j = 0; j < n_cols; j++) {
                table += "<td>" + data[i][j] + "</td>";
            }
            table += "</tr>"

        }
    }

    //add closing table tag
    table += "</table>"

    return table;

}






function readFiles(event, output) {
    console.log('output = ', output)

    var fileList = event.target.files;

    for (var i = 0; i < fileList.length; i++) {
        loadAsText(fileList[i], output);
    }
}

function loadAsText(theFile, output) {
    var reader = new FileReader();
    var x = document.getElementById(output)

    reader.onload = function(loadedEvent) {
        // result contains loaded file.
        var txt = loadedEvent.target.result;

        //split each line
        txt = txt.split("\n");

        // splite columns
        var table = txt.map(splitLine);

        //display in output
        //document.getElementById(output).innerHTML = genHtmlTable(table);
        x.innerHTML = genHtmlTable(table);


        //print file in console
        table.forEach(element => {

            element.forEach(x => {
                console.log(x)

            });

            console.log("----------------------------")


        });



    }
    reader.readAsText(theFile);
}

var colsNames = '';

function splitLine(value, index, array) {

    return value.split(";");
}







</script>


{% endblock %}