{% extends "squelette.html" %}

{% block titre %}Parameters{% endblock %}

{% block corps %}
    <h3><b> Parameters : </b></h3>
        <div class="container">
            <div class="jumbotron">
                <form action="/save_parameters", method="post" , enctype="multipart/form-data">
                    <div class="form-group">
                        <label>Number of years of projection:</label>
                        <input type="text" class="form-control" name="duree_sim" value="{{ session['duree_sim'] if 'duree_sim' in session else ''}}">
                        <!-- <label>Years of new employees::</label>
                        <input type="text" class="form-control" name="horizon_proj"> -->
                    </div>

                    <div class="form-group">
                        <!-- <label>Mortality table:</label> -->

                        <!-- <input type="text" class="form-control" name="table_mortalite" value="{{ session['table_mortalite'] if 'table_mortalite' in session else ''}}"> -->
                        
                        <!-- Mortality table -->
                        <div class="form-group">
                            <label for="sel1">Mortality table:</label>
                            <select class="form-control" id="sel1" name="table_mortalite">
                              {% if not 'table_mortalite' in session %}
                                <option value='TV 88-90' selected >TV 88-90</option>
                                <option value='TD 90-92'>TD 90-92</option>
                                <option value="TD 73-77" >TD 73-77</option>

                              {% endif %}

                              {% if 'table_mortalite' in session %}
                                <option value='TV 88-90' {{ "selected" if session["table_mortalite"]=="TV 88-90" }} >TV 88-90</option>
                                <option value='TD 90-92' {{ 'selected' if session['table_mortalite']=='TD 90-92' }}>TD 90-92</option>
                                <option value="TD 73-77" {{ 'selected' if session['table_mortalite']=='TD 73-77' }} >TD 73-77</option>

                              {% endif %}

                            </select>
                          </div>

                        <label>Retirement Age:</label>
                        <input type="text" class="form-control" name="age_depart" value="{{ session['age_depart'] if 'age_depart' in session else ''}}">

                        <label>Or law of retirement:</label>
                        <input type="file" class="form-control" name="loi_ret" value="{{ session['loi_ret'] if 'loi_ret' in session else ''}}">
                        
                        <label>Resignation law:</label>
                        <input type="file" class="form-control" name="loi_dem">

                        <label>Marriage law:</label>
                        <input type="file" class="form-control" name="loi_mar">
                        
                        <label>Replacement law:</label>
                        <input type="file" class="form-control" name="loi_remp">

                    </div>

                    <button class="btn btn-primary">Save</a></button>
                </form>
            </div>
        </div>

{% endblock %}

